@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
}

html, body {
    height: 100%;

    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    --gray: hsl(240, 9%, 89%);
    --black: hsl(240, 6%, 13%);
}

body {
    display: grid; 
    place-items: center;
    background-color: var(--black);
    overflow-y: hidden; 
}

main {
    width: 375px;
    height: 812px;

    background-image: url(images/background.svg);
}

.conteiner {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--gray);
}

.avatar {
    height: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

a {
    color: var(--gray);
    font-size: 0.75rem;
    text-decoration: none;
    margin-top: 0.50rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

#bio {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}