// _modal.scss

/* Base modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $z-index-modal;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
}

.modal--open {
    display: flex;
}

/* Modal content */
.modal__content {
    background-color: $light-1;
    border-radius: $border-radius;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    box-shadow: $box-shadow-light;
    overflow-y: auto;
    position: relative;
}

/* Modal header */
.modal__header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Modal body */
.modal__body {
    font-size: 1rem;
    color: $dark-1;
}

/* Modal footer */
.modal__footer {
    text-align: right;
    margin-top: 1.5rem;
}

/* Close button */
.modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: $dark-1;
    cursor: pointer;

    &:hover {
        color: $light-2;
    }
}